<form method="POST">
    <div class="container"><h1>Dat lai Mat khau</h1></div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required pattern="\S+.*"/>
     
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"> Nhap lai Password</label>
      <input type="password" class="form-control" id="repassword" name="repassword" required pattern="\S+.*"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

 <!-- Kiem tra 2 password da giong nhau chua -->
 <script>
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("repassword");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("password vua nhap Khong giong voi password o tren");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>