<html>
  <head>
      <title>Reset password</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body style="background-image: url('../../../images/uploads/slider-bg.jpg');">
    <form id="resetPassword" class="form-control" style="width: 500px; margin: auto; margin-top: 70px;height: 400px;border-radius: 5px;">
      <div class="container"><h3 style="text-align: center;    margin: 35px;">RESET PASSWORD</h3></div>
    
      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required pattern="\S+.*"/>
      </div>
      
     <div class="form-group">
      <label for="password" class="form-label"> Re-Password</label>
      <input type="password" class="form-control" id="repassword" name="repassword" required pattern="\S+.*"/>
     </div>
    
       
     <input type="hidden" name="CustomerISN" value="<%-CustomerISN%>">
     <div style="text-align: center;">
      <button style="width: 400px; margin-top: 30px;"type="submit" class="btn btn-primary">Submit</button>
     </div>
      
    </form>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/js/user/resetPassword.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <!-- Kiem tra 2 password da giong nhau chua -->
   <script>
      var password = document.getElementById("password")
    , confirm_password = document.getElementById("repassword");
  
  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("password vua nhap Khong giong voi password o tren");
    } else {
      confirm_password.setCustomValidity('');
    }
  }
  
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
  </script>
  </body>
</html>
